$t: rgba(255, 255, 255, 0.0001);
$r: #f7797d;

body {
  background: linear-gradient(to bottom, #ccc, darken(#ccc, 35%)) 50% 50% / 100%
      50% no-repeat,
    linear-gradient(25deg, $t calc(50% - 100px), $r 50%),
    linear-gradient(to bottom, $t calc(50% + 50px), $r calc(50% + 50px)),
    repeating-linear-gradient(
        to right,
        $r 10px,
        $t 15px,
        $t 30px,
        $r 35px,
        $r 50px
      )
      0px 50%,
    repeating-linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.25) 2px,
      $r 2px,
      $r 10px,
      rgba(255, 255, 255, 0.25) 10px,
      rgba(255, 255, 255, 0.25) 12px
    ),
    $r;
  display: grid;
  place-content: center;
  height: 100vh;
  animation: speed 0.25s linear infinite, zoom 3s ease-in-out infinite alternate,
    blur 3s ease-in-out infinite alternate;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    top: calc(50% + 110px);
    backdrop-filter: blur(4px) invert(1);
    z-index: 4;
  }
  @keyframes speed {
    from {
      background-position: 50% calc(100% + 50px), 50% 50%, 50% 50%, 0px 50%,
        50% 50%;
    }
    to {
      background-position: 50% calc(100% + 50px), 50% 50%, 50% 50%, -120px 50%,
        50% 50%;
    }
  }
  @keyframes zoom {
    0%{
      transform: scale(1) translate(0px, -20px);
    }
    40% {
      transform: scale(0.85) translate(50px, -20px);
    }
    50% {
      transform: scale(1.15) translate(50px, -30px);
    }
    100% {
      transform: scale(1.15) translate(50px, -30px);
    }
  }
  @keyframes blur {
    40% {
      filter: blur(0px);
    }
    45% {
      filter: blur(6px);
    }
    50% {
      filter: blur(0px);
    }
    100% {
      filter: blur(0px);
    }
  }
  > div {
    z-index: 3;
    width: 300px;
    height: 300px;
    box-sizing:border-box;
    -webkit-box-reflect: below -50px linear-gradient(rgba(0, 0, 0, 0.015), rgba(0, 0, 0, 0.05));
    background: radial-gradient(circle at center, #666 3px, $t 2px)
        calc(50% + 95px) calc(50% - 35px),
      radial-gradient(circle at bottom, #fff 35px, $t 35px) 75px -180px,
      radial-gradient(ellipse at top, #fff 35px, $t 35px) 150px 120px / 150px
        24px,
      radial-gradient(circle at bottom, #fff 75px, $t 75px) -25px -150px,
      radial-gradient(ellipse at top, #fff 75px, $t 75px) 50px 150px / 150px
        25px,
      radial-gradient(circle at center, #fff 40px, $t 40px) -60px 15px / 100%,
      radial-gradient(ellipse at center, #fff 20px, $t 20px) -50px -10px / 150%
        120%,
      radial-gradient(ellipse at bottom left, #fff 35px, $t 15px)
        calc(50% + 120px) calc(50% - 0px) / 200px 100px,
      radial-gradient(circle at center, #fff 8px, $t 8px) calc(50% + 20px)
        calc(50% + 40px),
      radial-gradient(circle at center, #fff 8px, $t 8px) calc(50% + 48px)
        calc(50% + 50px),
      radial-gradient(ellipse at center, #ccc 20px, $t 20px) -45px -10px / 150%
        120%,
      radial-gradient(ellipse at bottom left, #ccc 35px, $t 15px)
        calc(50% + 125px) calc(50% - 0px) / 200px 100px,
      radial-gradient(circle at center, #ccc 8px, $t 8px) calc(50% + 25px)
        calc(50% + 40px),
      radial-gradient(circle at center, #ccc 8px, $t 8px) calc(50% + 53px)
        calc(50% + 50px);
    background-repeat: no-repeat;
    position: relative;
    animation: hop1 0.25s ease-in-out infinite alternate;
    transform-origin: 15% 75%;
    transform: scaleX(1) scaleY(1.15) translate(0px, 0px) rotate(-15deg);
    @keyframes hop1 {
      to {
        transform: scaleX(1.25) scaleY(0.85) translate(45px, -40px)
          rotate(30deg);
        background-position: calc(50% + 100px) calc(50% - 30px), 85px -160px,
          160px 139px, -15px -150px, 60px 150px, -120px 5px, -20px -5px,
          calc(50% + 170px) calc(50% - 16px), calc(50% + 50px) calc(50% + 25px),
          calc(50% + 100px) calc(50% + 35px), -25px -5px,
          calc(50% + 165px) calc(50% - 16px), calc(50% + 60px) calc(50% + 25px),
          calc(50% + 90px) calc(50% + 35px);
        filter: blur(2px);
      }
    }
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 25px;
      z-index: -1;
      top: -25px;
      transform: translate(0px, 0) rotate(-20deg);
      background: radial-gradient(ellipse at 100% 50%, #fff 25px, $t 25px) 200px
          0px / 30px 150px,
        radial-gradient(ellipse at 100% 50%, #ccc 20px, $t 20px) 180px 0px /
          30px 150px;
      background-repeat: no-repeat;
      animation: hop3 0.25s ease-in-out infinite alternate;
      transform-origin: calc(50% + 50px) calc(50% + 50px);
      @keyframes hop3 {
        to {
          transform: translate(35px, -10px) rotate(-60deg);
          background-position: 200px 0px, 190px -45px;
        }
      }
    }
    &:after {
      z-index: -2;
      content: "";
      position: absolute;
      width: 200px;
      height: 200px;
      background: radial-gradient(ellipse at 50%, #fff 40px, $t 10px)
          calc(50% - 0px) calc(50% + 15px) / 170px 60px,
        radial-gradient(circle at center, #fff 20px, $t 20px) calc(50% - 35px)
          calc(50% + 5px),
        radial-gradient(ellipse at 50%, #ccc 40px, $t 10px) calc(50% + 5px)
          calc(50% + 15px) / 170px 60px,
        radial-gradient(circle at center, #ccc 18px, $t 18px) calc(50% - 30px)
          calc(50% + 10px);
      background-repeat: no-repeat;
      bottom: 0;
      transform-origin: calc(50% - 40px) calc(50% - 45px);
      animation: hop2 0.25s ease-in-out infinite alternate;
      @keyframes hop2 {
        to {
          transform: translateX(-5px) rotate(145deg);
          background-position: calc(50% - 10px) calc(50% + 10px),
            calc(50% - 35px) calc(50% + 5px), calc(50% + 0px) calc(50% + 10px),
            calc(50% - 35px) calc(50% + 5px);
        }
      }
    }
  }
}
